<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div class="container" style="width: 100%; padding: 10%; margin: auto;">
    <br/>
    <h3>Добавить дело:</h3>

    <form th:action="@{/addAffair}"
          th:object="${affairForm}"
          method="POST">
        <input type="text" aria-label="Fond" class="form-control" placeholder="Номер фонда"
               autocomplete="off" th:field="*{fond}"/>

        <input type="text" aria-label="Op" class="form-control" placeholder="Номер описи"
               autocomplete="off" th:field="*{op}"/>

        <input type="text" aria-label="Affair" class="form-control" placeholder="Номер дела"
               autocomplete="off" th:field="*{affair}"/>
        <br/>
        <input type="submit" class="btn btn-primary" value="Добавить">
        <a href="affairsList" class="btn btn-secondary" role="button">Назад</a>

    </form>
    <br/>

    <div th:if="${errorMessage}"
         th:utext="${errorMessage}"
         class="alert alert-danger" role="alert">
        ...
    </div>

</div>
</body>
</html>