<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Список дел</title>
</head>

<body>
<div class="container">
    <br/>
    <div class="jumbotron">
        <h2>Список дел</h2>
        <br/>
        <a class="btn btn-lg btn-primary" href="addAffair" role="button">Добавить дело</a>
        <br/>
    </div>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>Фонд</th>
            <th>Опись</th>
            <th>Дело</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="affair : ${affairs}">
            <td th:utext="${affair.fund}">...</td>
            <td th:utext="${affair.register}">...</td>
            <td th:utext="${affair.affair}">...</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>