<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div class="container">
    <br/>
    <div class="jumbotron">
        <h2>Список дел для: </h2>
        <h3 th:utext="${person.personFullName}"></h3>
        <br/>
        <div style="display: inline;">
            <a class="btn btn-lg btn-primary" href="addAffair" role="button">Добавить дело</a>
            <form method="post" th:action="@{/affairsList}">
                <input type="submit" class="btn btn-lg btn-secondary" value="Отправить"/>
            </form>
        </div>
        <br/>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Фонд</th>
            <th>Опись</th>
            <th>Дело</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="affair : ${affairs}">
            <td th:utext="${affair.fond}">...</td>
            <td th:utext="${affair.op}">...</td>
            <td th:utext="${affair.affair}">...</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>