<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div class="container">
    <br/>
    <div class="jumbotron">
        <h2>Список дел для: </h2>
        <h3 th:utext="${person}"></h3>
        <br/>

        <a class="btn btn-lg btn-primary" href="addDocument" role="button">Добавить дело</a>

        <br/>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Фонд</th>
            <th>Опись</th>
            <th>Дело</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc : ${documents}">
            <td th:utext="${doc.fond}">...</td>
            <td th:utext="${doc.op}">...</td>
            <td th:utext="${doc.document}">...</td>
        </tr>
        </tbody>
    </table>
    <div th:if="${isSending}">
        <form method="post" th:action="@{/documentsList}">
            <input type="submit" class="btn btn-primary btn-lg btn-block" id="sendButton" value="Отправить"
                   onclick="this.disabled='disabled';this.form.submit();"/>
        </form>
    </div>
</div>
</body>
</html>