<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Оцифровка</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-item nav-link active" href="/">Новый заказ</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Выгрузка
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/unload">Все заказы</a>
                        <a class="dropdown-item" href="/unloadByPop">По популярности</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br/>
    <h4>Список дел для: </h4>
    <h4 th:utext="${person}"></h4>
    <p><a class="btn btn-primary" href="addDocument" role="button">Добавить дело</a></p>
    <table class="table">
        <thead>
        <tr>
            <th>Фонд</th>
            <th>Опись</th>
            <th>Дело</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc : ${documents}">
            <td th:utext="${doc.fond}">...</td>
            <td th:utext="${doc.op}">...</td>
            <td th:utext="${doc.document}">...</td>
        </tr>
        </tbody>
    </table>
    <div th:if="${isSending}">
        <form method="post" th:action="@{/documentsList}">
            <input type="submit" class="btn btn-primary btn-lg btn-block" id="sendButton" value="Отправить"
                   onclick="this.disabled='disabled';this.form.submit();"/>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>