<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Оцифровка</title>
</head>

<body>

<div class="container">
    <br/>
    <div class="jumbotron">
        <h2>Оцифровка</h2>
        <br/>
        <ul class="nav navbar-nav">
            <li>
                <a class="btn btn-lg btn-primary" th:href="@{/affairsList}" role="button">Подготовить дела &raquo;</a>
                <a class="btn btn-lg btn-secondary" href="#" role="button">Сделать выгрузку &raquo;</a>
            </li>
        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
    
</html>