<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div class="container">
    <br/>
    <div class="jumbotron">
        <h2>Оцифровка</h2>
        <br/>
        <form th:action="@{/}"
              th:object="${personForm}"
              method="POST">
            Читатель:
            <input type="text" aria-label="Last name" class="form-control" placeholder="Фамилия"
                   th:field="*{getPersonLastName}"/>
            <input type="text" aria-label="First name" class="form-control" placeholder="Имя"
                   th:field="*{getPersonFirstName}"/>
            Исполнитель
            <input type="text" aria-label="Last name" class="form-control" placeholder="Фамилия"
                   th:field="*{getPersonLastName}"/>
            <br/>
            <input class="btn btn-lg btn-primary" type="submit" value="Подготовить дела &raquo;">
        </form>
        <br/>
        <div th:if="${errorMessage}"
             th:utext="${errorMessage}"
             class="alert alert-danger" role="alert">
            ...
        </div>
    </div>
</div>
<div style="text-align: center;">
    <a href="#" class="btn btn-lg btn-info disabled" role="button" aria-disabled="true">Сделать выгрузку</a>
</div>
</body>
</html>