<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Оцифровка</title>
</head>

<body>
<div class="container">
    <br/>
    <div class="jumbotron">
        <h2>Оцифровка</h2>
        <br/>
        <div style="display: inline;">
            <a th:href="@{/affairsList}" class="btn btn-lg btn-primary" role="button">Подготовить дела &raquo;</a>
            <a href="#" class="btn btn-lg btn-secondary disabled" role="button" aria-disabled="true">Сделать выгрузку</a>
        </div>
    </div>
</div>
</body>
</html>