<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>

<body>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function checkAll() {
        const checkboxes = document.getElementsByName('digitizedIds');
        for (let i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = true;
        }
    }

    function uncheckAll() {
        const checkboxes = document.getElementsByName('digitizedIds');
        for (let i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = false;
        }
    }

    function selectPreview(selectedImg, index) {
        const t = 'carousel' + selectedImg
        const element = document.getElementById(t)
        for (let i = 0; i < element.children.length; i++) {
            const child = element.children.item(i)
            child.children.item(0).classList.remove('active')
        }
        const child = element.children.item(index)
        child.children.item(0).classList.add('active')
    }
</script>
<div class="container">
    <button
            type="button"
            class="btn btn-primary btn-lg"
            id="btn-back-to-top"
            onclick="backToTop()"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
    </button>
    <div th:replace="~{fragments/header :: header}"></div>
    <br/>
    <div class="alert alert-primary" role="alert">
        Выберите нужные файлы и нажмите "Отправить". После этого они появятся на компьютере у сотрудника. Обратитесь к
        нему для получения файлов.
    </div>
    <div th:if="${infoMessage}"
         th:utext="${infoMessage}"
         class="alert alert-primary" role="alert">
        ...
    </div>
    <div th:if="${errorMessage}"
         th:utext="${errorMessage}"
         class="alert alert-danger" role="alert">
        ...
    </div>
    <br/>
    <form th:action="@{/order}"
          method="POST">
        <div class="row">
            <h3 th:utext="${documentFullNumber}"></h3>
        </div>
        <div class="row justify-content-between">
            <div class="col-4">
                <a href="/orders" class="btn btn-secondary" type="button">Назад</a>
            </div>
            <div class="col-4 text-end">
                <input type="button" class="btn btn-outline-primary" onClick="uncheckAll()" value="Убрать все"/>
                <input type="button" class="btn btn-outline-primary" onClick="checkAll()" value="Выбрать все"/>
                <input type="submit" class="btn btn-primary" value="Отправить"/>
            </div>
        </div>
        <br/>
        <div class="lightbox">
            <div class="row">
                <div class="col-sm-4" th:each="digitized, i : ${digitizedList}">
                    <div class="p-3 form-check">
                        <input class="form-check-input" type="checkbox" name="digitizedIds" th:value="${digitized.id}"
                               th:id="${digitized.id}">
                        <label class="form-check-label" th:for="${digitized.id}">
                            <img th:src="'/images/' + ${digitized.fileName}" class="img-fluid">
                        </label>
                        <div class="row justify-content-between p-2">
                            <div class="col-4">
                                <span class="fs-5"
                                      th:text="${#strings.arraySplit(digitized.fileName, '_')[#arrays.length(#strings.arraySplit(digitized.fileName, '_')) - 1]}"></span>
                            </div>
                            <div class="col-4 text-end">
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        th:data-bs-target="'#modal' + ${digitized.fileName}"
                                        th:attr="onclick=${'selectPreview('+ '''' +digitized.fileName + '''' + ', ' + i.index + ')'}">
                                    Увеличить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br/>

    <div th:each="digitized : ${digitizedList}">
        <div class="modal fade" th:id="'modal' + ${digitized.fileName}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div th:id="'carousel' + ${digitized.fileName}" class="carousel carousel-dark slide">
                            <div class="carousel-inner" th:each="tDigitized : ${digitizedList}">
                                <div th:class="'carousel-item ' + ${digitized.fileName == tDigitized.fileName ? 'active' : ''}"
                                     style="text-align: center; max-height: 90%">
                                    <img th:src="'/images/' + ${tDigitized.fileName}">
                                </div>
                            </div>

                            <button class="carousel-control-prev" type="button"
                                    th:data-bs-target="'#carousel' + ${digitized.fileName}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    th:data-bs-target="'#carousel' + ${digitized.fileName}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>
