<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <br/>
    <h4>Сводный журнал оцифрованных дел</h4>

    <!-- Не дает отправлять POST запрос при обновлении страницы -->
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>

    <form th:action="@{/unloadJournal}"
          th:object="${documentsFilter}"
          method="POST">
        <p>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">С</span>
            </div>
            <input type="date" class="form-control" id="dateFrom" name="dateFrom" th:value="*{dateFrom}"
                   placeholder="С"/>
            <div class="input-group-prepend">
                <span class="input-group-text">По</span>
            </div>
            <input type="date" class="form-control" id="dateTo" name="dateTo" th:value="*{dateTo}"
                   placeholder="По"/>
            <input type="text" class="form-control" id="executor" name="executor" th:value="*{executor}"
                   placeholder="Исполнитель"/>
        </div>
        </p>

        <p>
            <input type="submit" class="btn btn-primary" value="Отсортировать">
            <a class="btn btn-primary" href="/unloadJournal/exportCSV" role="button">Экспорт в Excel</a>
            <a class="btn btn-primary" href="/unloadJournal/refresh" role="button"  data-toggle="tooltip" title="Обновить данные">
                <svg class="bi bi-arrow-clockwise" width="20" height="20" viewBox="5 2 10 15" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10 4.5a5.5 5.5 0 105.5 5.5.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63l-.5.865A5.472 5.472 0 0010 4.5z"
                          clip-rule="evenodd"></path>
                    <path fill-rule="evenodd"
                          d="M10.646 1.646a.5.5 0 01.708 0l2.5 2.5a.5.5 0 010 .708l-2.5 2.5a.5.5 0 01-.708-.708L12.793 4.5l-2.147-2.146a.5.5 0 010-.708z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
        </p>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>№ п/п</th>
            <th>Фонд, опись, дело</th>
            <th>Исполнитель</th>
            <th>Дата оцифровывания</th>
            <th>Кол-во файлов</th>
            <th>Кол-во Мб</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="document : ${digitDocsFromDb}">
            <td th:utext="${document[0]}">...</td>
            <td th:utext="${document[1]}">...</td>
            <td th:utext="${document[2]}">...</td>
            <td th:utext="${document[3]}">...</td>
            <td th:utext="${document[4]}">...</td>
            <td th:utext="${document[5]}">...</td>
        </tr>
        </tbody>
    </table>
    <div th:if="${errorMessage}"
         th:utext="${errorMessage}"
         class="alert alert-danger" role="alert">
        ...
    </div>
</div>
<div th:replace="fragments/scripts::scripts"></div>
</body>
</html>