<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <br/>
    <h4>Сводный журнал оцифрованных дел</h4>
    <a class="btn btn-primary" href="/unloadJournal/refresh" role="button">Обновить</a>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th>№ п/п</th>
            <th>Фонд, опись, дело</th>
            <th>Исполнитель</th>
            <th>Дата оцифровывания</th>
            <th>Кол-во файлов</th>
            <th>Кол-во Мб</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="document : ${digitDocsFromDb}">
            <td th:utext="${document[0]}">...</td>
            <td th:utext="${document[1]}">...</td>
            <td th:utext="${document[2]}">...</td>
            <td th:utext="${document[3]}">...</td>
            <td th:utext="${document[4]}">...</td>
            <td th:utext="${document[5]}">...</td>
        </tr>
        </tbody>
    </table>
    <div th:if="${errorMessage}"
         th:utext="${errorMessage}"
         class="alert alert-danger" role="alert">
        ...
    </div>
</div>
<div th:replace="fragments/scripts::scripts"></div>
</body>
</html>