<!DOCTYPE HTML>
<!-- Thymeleaf Namespace -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div class="container">
    <br/>
    <div class="jumbotron">
        <h2>Выгрузка</h2>
        <h4 th:utext="${affairsCount}"></h4>
        <h4 th:utext="${uniqueAffairsCount}"></h4>
        <br/>
        <!-- Не дает отправлять POST запрос при обновлении страницы -->
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
        <form th:action="@{/unload}"
              th:object="${affairFilter}"
              method="POST">
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label for="dateFrom">С: </label>
                        <input type="date" class="form-control" id="dateFrom" name="dateFrom" th:value="*{dateFrom}"/>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="dateTo">По: </label>
                        <input type="date" class="form-control" id="dateTo" name="dateTo" th:value="*{dateTo}"/>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="reader">Читатель: </label>
                        <input type="text" class="form-control" id="reader" name="reader" th:field="*{reader}"/>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="executor">Исполнитель: </label>
                        <input type="text" class="form-control" id="executor" name="executor" th:field="*{executor}"/>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Отсортировать">
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Фонд</th>
            <th>Опись</th>
            <th>Дело</th>
            <th>Читатель</th>
            <th>Исполнитель</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="affair : ${affairs}">
            <td th:utext="${affair.getFond()}">...</td>
            <td th:utext="${affair.getOp()}">...</td>
            <td th:utext="${affair.getAffair()}">...</td>
            <td th:utext="${affair.getReader()}">...</td>
            <td th:utext="${affair.getExecutor()}">...</td>
            <td th:utext="${#temporals.format(affair.getReceiptDate(),'dd.MM.yyyy')}">...</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>